<!DOCTYPE html>
<html>
	<head>
		<title>Food Finder</title>
				<head>
					<link rel="stylesheet" type="text/css" href="/stylesheets/FF3.css">
				</head>
	</head>
	<body>
	<!-- input bar and button -->
			<div>
			<form method="POST" action="/result">
				<div id="inputs">
   						<input type="text" name="location" rows="4" cols="50" style="width:72.25%" class="form-control" placeholder="Enter City...">
   						<input type="submit" value="submit" class="input-field" id="button" style="width:150px">
      			</div>
        	</form>
        	<p>{{title}}</p>
        	<p>{{output_name}}</p>
        	</div>
    <!-- background image -->
				<body>
				  <img alt="full screen background image" src="/images/Food_Finder5.svg" id="full-screen-background-image" /> 
				  <div id="wrapper">
				  </div>
				</body>

			<body background="/images/Food_Finder5.svg">

	<!-- to remove scroll bars -->
				<style type="text/css">
				body {
				    overflow:hidden;
				}
				</style>
